/* Universal Styles */
body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
  background: url(nesa-by-makers-1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/* Header */
h1 {
  font-size: 3rem;
  color: #990000;
}

hr {
  border-color: #339900;
  border-width: 3px;
  max-width: 65px;
}


/* Buffer - container */
.buffer {
  height: 7px;
}


/* Button - container */
.btn {
  background-color: #336600;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 250px;
  padding: 1rem 2rem;
  border-color: #336600;
}

.btn:hover {
  background-color: #339900;
  border-color: #339900;
  border-width: 3px;
}
